body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#formulario {
    margin: 20px;
}

#btnConfirmar {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.btnEliminar {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.btnEliminar:hover {
    background-color: #d32f2f;
}

#txtPokemon {
    padding: 5px;
    font-size: 16px;
}

#pokedex {
    margin-top: 20px;
}

.pokemon {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
