body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#formulario {
    margin: 20px;
}
#txtPokemon {
    padding: 5px;
    font-size: 16px;
}

#btnConfirmar {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

